@model ProyectoFinal_Santiago_Giustolisi.Models.Deudor

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/Estilos.css" rel="stylesheet" />
<div class="div-volver-create">
    <a class="btn-volver-create" asp-action="Index">Volver</a>
</div>


<div class="contenedor-principal-detalles">
    <h1 class="h1-create">Datos del Deudor/a 👇</h1>
    <div class="contenedor-secundario-detalles">
        <div class="c-s-1">
           <p class="p-dato-detalles"> <b>📌 Nombre del deudor: </b>@Html.DisplayFor(model => model.Nombre)</p>
            <p class="p-dato-detalles"> <b>📌 Fecha de Venta: </b>@Html.DisplayFor(model => model.fechaVenta)</p>
            <p class="p-dato-detalles"> <b>📌 Descripción: </b>@Html.DisplayFor(model => model.Descripcion)</p>
            <p class="p-dato-detalles"> 💲 <b>@Html.DisplayFor(model => model.dineroEntregado)</b> : Dinero Entregado </p>
            <p class="p-dato-detalles"> 💲 <b>@Html.DisplayFor(model => model.dineroTotal)</b> : Dinero Total </p>
        </div>
    </div>
<div>
     <td class="fila-tabla">
    <a asp-action="Edit" asp-route-id="@Model?.Id" style=" margin: 10px;
    padding: 6px;
    background-color: #16a085;
    border-radius: 1rem;
    text-decoration: none;
    color: #fff;
    transition: all .4s;">Editar</a> 
    </td>
</div>
